@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: rgb(250, 239, 218);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(#179240,#0d3d1d );
    height: 180px;
    color: #ffffff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.418);
}
header > h1 {
    text-align: center;
    padding-top: 30px;
    font-family: 'bebas neue', Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    margin-top: 0px;
}
header > p{
    text-align: center;
    margin: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
    font-family: 'bebas neue';
}
nav > a {
    margin-right: 30px;
    text-decoration: none;
    color: #5fff94;
    margin-left: 10px;
    padding: 10px;
}
nav > a:hover{
background-color: #2b693f;
border-radius: 5px;
box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.377);
transition-duration: .4s;
}

main{
    background-color: #ffffff;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.377);
    padding: 15px;
    word-spacing: 3px;
    margin-bottom: 10%;
    border-radius: 10px;
}
main > h1{
    margin-top: 0px;
    padding: 20px;
    color:#38704B ;
}
main p {
    text-indent: 20px;
    line-height: 25px;
    text-align: justify;
}
h2{
    padding: 10px;
    color: #438559;
    background-image: linear-gradient(to right,#65da8c, transparent);
}
img{
    width: 100%;
}
.img2{
    max-width: 350px;
    display: block;
    margin: auto;
}
aside {
    background-color: #4ecc78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.377);
    margin-top: 10px;
}
aside > h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d3d1d;
    background-image: none;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 0 -20px;
    
}
ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
footer{
    width: 100%;
    background-color: #0d3d1d;
    text-align: center;
    color: #ffffff;
}

#video {
    background-color: #0d3d1d;
    margin: 0px -15px 15px -15px;
    padding: 10px;
    padding-bottom: 58%;
    position: relative;
}
#video > iframe{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}
.especial{
    background-color: #99cfab;
    text-decoration: none;
    color: #3c9459;
    font-weight: 700;
}
.especial:hover{
    text-decoration: underline;
}
.especial::after{
    content: '\00A0\2622';
}
iframe{
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
}